@using Ecommerce.Entities.Interfaces
@model ShoppingCart
@inject IUnitOfWork _UnitofWork;
@{
    var relatedProducts = _UnitofWork.Product.GetAll(p=>p.CategoryId == Model.Product.CategoryId,Include:"Category");
}
@* <section class="bg-dark pt-2 pb-5"> *@
    <header class=" py-3 border border-secondary rounded-pill w-75 m-auto" style="margin-top:40px !important;background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.9)), url(../../../../wwwroot/Templet/img/baner-1.png) !important;">
        <div class="container px-4 px-lg-5 ">
            <div class="text-center d-flex align-items-center justify-content-center text-white ">
            <h1 class="text-danger fw-bolder" style="color:#81c408 !important;">  @Model.Product.Name 's  Details</h1>
            </div>
        </div>
    </header>
@* </section> *@

<div class="container-fluid py-5">
    <div class="container py-3 mb-5">
            <div class="col-lg-12 col-xl-9 ">
            <form method="post">
                <div class="row" style="margin:0px 0px 100px 0px !important;">
                    <div class="col-lg-5 ms-5 ps-5">
                        <div class="border rounded">
                            <a href="#">
                            <img src="~/@Model.Product.Img" class="img-fluid rounded" style="width:470px !important; height:470px !important" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                     
                    <div class="col-lg-5">
                        <input hidden asp-for="ProductId"/>
                        <h4 class="fw-bold mb-3">@Model.Product.Name</h4>
                        <p class="mb-3">Category : <strong class="fw-bold text-dark">@Model.Product.Category.Name</strong></p>
                        <h5 class="fw-bold mb-3">@Model.Product.Price $</h5>
                        <p class="mb-4">@Model.Product.Description.</p>

                        <div class="d-flex my-5">
                            <div class="me-3 mt-1">Quantity</div>   <input class="form-control text-center me-3" id="inputQuantity" asp-for="Count" style="max-width: 3rem">
                        </div>
                        <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                    </div>
                    
                </div>
            </form>
        </div>
         

        <h1 class="fw-bold my-5 " style="color:#81c408 !important;">Related Books of The Same Category.</h1>
        <div class="vesitable mt-5">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        @foreach (var item in relatedProducts)
                        {
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="rounded position-relative fruite-item border border-secondary">
                                    <div class="fruite-img">
                                        <a href="/Customer/Home/Details/@item.Id"><img src="~/@item.Img" style="width:380px !important ; height:340px !important;" class="img-fluid w-100 rounded-top" alt=""></a>
                                    </div>
                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Category.Name</div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom" style="height:280px !important;">
                                        <h3 class="fw-bold mb-4">@item.Name</h3>
                                        <p>@item.Description</p>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0 ">$@item.Price</p>
                                            <a href="/Customer/Home/Details/@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
